.container{
    display: grid;
    margin: 2rem 1rem;
}
.area_chart{
    height: 30rem;
    width: 40rem;
}
.area_chart_title{
    margin-bottom: 1rem;
}
.chart{
    display: block !important;
    position: relative;
}