.meter {
  width: 18rem;
  height: 15rem;
  margin-top: 1rem;
  position: relative;
}
.risk_percent {
  position: absolute;
  top: 25%;
  left: 45%;
  font-size: 1.1rem;
  font-weight: 600;
}
.meter img {
  width: 100%;
  height: 100%;
}

.needle {
  position: absolute;
  top: 30%;
  left: 56%;
  rotate: -115deg;
  transform: translate(-50%, -50%);
  transform-origin: 50% 90%;
  height: 5rem;
}
.needle img {
  width: 100%;
  height: 100%;
  transform-origin: 50% 90%;
  transition: rotate 1s ease;
}

/* @keyframes spin {
  0% {
    rotate: -125deg;
  }
  50% {
    rotate: 125deg;
  }
  100%{
    rotate: -125deg;
  }
} */
